*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    min-height: 100vh;
    background:url(images/bg4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    padding: 10px 5%;
    height: 100%;
}
.container a span{
    color: #ff0303fc;
}
nav{
    background-color: transparent;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);   
    overflow: hidden; 
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
}
nav li{    
   height: 50px;
}
nav a{
    height: 100%;
    padding: 0 15px;
    color:  #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}
nav a:hover{
    color: #ff0303fc;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(248, 246, 246, 0.174);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menuBtn{
    display: none;
    background-color: #ffffff4c;
}
@media (max-width:800px){
    .hideOnMobile{
        display: none;
    }
    .menuBtn{
        display: block;
    }
}
@media (max-width:400px){
    .sidebar{
        width: 50%;
        height: 100%;
        
    }
}
.header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;

}
.photo{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    margin: 15px 0;
}
.name{
    color:white;
    font-size: 30px;
    font-weight: 500;
    align-items: center;
    text-align: center;
}
.discription{
    font-size: 15px;
    text-align: center;
}
.btn.btn2{
    display: inline-block;
    background: black;
}

/*-------About--------*/

#about{
    padding: 40px 0;
    color: #fff;
}
.about-col-1 .sub-title{
    font-size: 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-2{
    flex-basis: 60%;
}

.about-col-1 ul li{
    list-style: none;
    padding: 3px 0;
}
.details-list{
    color: #ff0303fc;
}
.details{
    margin-left: 20px;
}
.basicInfo{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}
.about-col-1 img{
    border-radius: 50%;
    max-height: 500px;
    width: 80%;
    margin: 10px 0px;
}
.sub-title{
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #fff;
    align-items: center;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    left: 0;
    height: 3px;
    background: #ff0303fc;
    position: absolute;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-links::after:hover{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    font-size: 14px;
    color: #ff0303fc;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*-----------My Portfolio-------------*/

#portfolio{
    padding: 40px 0px;
}
#portfolio .sub-title{
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 60px;
    font-weight: 600;
    color: #fff;
    align-items: center;
}
.portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 40px;
    margin-top: 30px
}
.portfolio{
    border-radius: 10px;
    position: relative;
    overflow:hidden
}
.portfolio img{
    background-position: center;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff0303fc);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff0303fc;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.portfolio:hover img{
    transform: scale(1.1);
}
.portfolio:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 20px auto;
    width: fit-content;
    border: 1.5px solid #ff0303fc;
    padding: 10px 40px;
    border-radius: 6px;
    text-decoration: none;
    color:#fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff0303fc;
}

/*-----------contact-------------*/

#contact{
    padding: 40px 0;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff0303fc;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff0303fc;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    color: #fff;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px 10px ;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 10px 40px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
    
#msg{
    color: #61b752;
    margin-top: -10px;
    display: block;
}

/*-----------css for small screens-------------*/

@media (max-width:600px){
    .container{
        margin-right: -40px;
    }
    
.header-text{
    margin:  25px 10px ;
    height:100vh;

}
.photo{
    height: 250px;
    width: 250px;
}

#about{
    padding: 40px 0 0;
}
#projects{
    padding: 20px 0 0;
}
#contact{
    padding: 20px 0 0;
}
#portfolio{
    padding: 20px 0 0;
}
.about-col-1{
    flex-basis: 100%;
}
.about-col-2{
    flex-basis: 100%;
}
.about-col-2 p{
    margin-top: 30px;
}

.about-col-1 ul li{
    list-style: none;
    padding: 3px 0;
}
.about-col-1 img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 10px 0;
    align-items: center;
}
.sub-title{
    text-align: center;
}
.contact-left{
    flex-basis: 100%;
}
.contact-right{
    flex-basis: 100%;
}
.contact-right{
    margin: 0 0  40px;
}
#about .sub-title{
    margin: 20px 0;
}
.about-col-2 .sub-title{
    font-size: 0;
}
.about-col-1 .sub-title{
    font-size: 35px;
}

}